<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="title" content="admin.awiki.net" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <title>admin.awiki.net</title>
<title>CSS TEMPLATE 07</title> 
<body>
<p>
Here will be the navigation
</p>
<div id="left">
	<h2>MENU</h2>
</div>

<div id="right">   
	<h2>MENU</h2> 
</div>

<div id="content">
	<h2>CONTENT</h2>
</div>
<p>
Here will be the footer
</p>
</body>
</html>
