body			{
	font-size: 12px;
	color: #242424;
	font-family:	sans, verdana, arial;
	padding:0;
	margin:0;
	line-height: 1.5;
	}

.wrapper		{
	width: 900px;
	margin-bottom: 10px;
	margin: 0 auto;
	}
	
.head 			{	
	margin: 5px;
    	height: 100px;
    	text-align: right;
	background-image: url("../images/Logo.png");
	background-color: #ffffff;
	background-repeat: no-repeat;
	vertical-align: bottom;
    	}

.devices		{
	text-align: right;
	}

.navigation 			{	
	margin: 25px;
	margin-top: 0px;
        margin-bottom: 0px;
    	height: 20px;
    	text-align: right;
	vertical-align: bottom;
	border-bottom: solid 1px #cccccc;
    	}

.navigation a {
	font-weight: bold;
	text-decoration: none;
	color: #232323;
	margin-left: 20px;
}

.navigation a.active {
	font-weight: bold;
	text-decoration: none;
	color: #232323;
	border-bottom: 3px solid #232323;
}

.navigation a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #232323;
	border-bottom: 3px solid #999999;
}

.add {
	width: 100%;
	text-align: right;
        text-decoration: none;
        color: #232323;
	margin-right: 35px;
}
                                
.add:hover {
	width: 100%;
        text-align: right;
        text-decoration: none;
        color: #232323;
	border-bottom: 1px solid #999999;
	margin-right: 35px;
}
                                                                                                

.main			{
	padding-left: 25px;
	padding-right: 25px;
        padding-bottom: 25px;
	}	
	
.footer			{
	font-size: 10px;
	text-align: center;
	margin: 25px;
	border-top: solid 1px #cccccc;	
	}
.mono			{
	font-family: mono;
}

table			{
	table-layout: auto;
	width: 100%;
	padding: 0;
	margin: 0;
}

td			{
	border: 1px solid #cccccc;
	font-size: 11px;
	padding: 0;
        margin:	0;
        padding-left: 11px;
        padding-right: 11px;
}

.headtb                 {
	
	text-align: center;
	background-color:#dddddd;
        border: 1px solid #cccccc;
        font-size: 11px;
        padding: 0;
        margin: 0;
}
                                
select	{
	font-family: verdana, lucida, sans-serif;
	font-size: 11px;
	width: 180px;
	margin-right: 10px; 
 } 

form	{
	text-align: center;
} 

h1		{
	text-align: center;
	font-size: 22px;
	color: #555555;
	text-decoration: underline;
}

h3		{
	text-align: center;
	font-size: 14px;
}

th		{
        background-color: #e3f2ff;
	text-align: left;
	padding-left: 15px;
	color: #333333;
        border-color:#cccccc;
        border-style:solid;
        border-width:1px;
	height: 25px;
}

tr		{
	text-align: left;
	font-size: 11px;
	font-family: verdana, lucida, sans-serif;
}

input		{
	font-family: verdana, lucida, sans-serif;
	font-size: 11px;
	border-color:#dddddd;
	border-width:0px;
	width: 100%;
	background-color: #ffffff;
}

input.hover	{
        background-color:#ffffff;
        border-color:#dddddd;
        border-style:solid;
        border-width:1px;
        width: 100%;
}

li 		{
	list-style: none;
}

a:hover 		{
        color: #3894e5;
        text-decoration: none; 
        font-family: verdana, tahoma; 
        font-size: 11px;
}

a 			{
        color: #000000; 
        text-decoration:  underline; 
        font-family: verdana, tahoma; 
        font-size: 11px;
}

a:active                {
        color: #3894e5;
        text-decoration:  underline;
        font-family: verdana, tahoma;
        font-size: 11px;
}


legend 			{
	padding: 5px;
	font-size: 10px;
	color: #555555;
}

fieldset {
	padding: 10px;
	text-align: center;
}

table	{
	margin-top: 15px;
	width: 100%;
}

.paginatordiv {
	padding-top: 15px;
	text-align: center;
}

.paginator {
        font-size: 10px;
	margin: 7px;
       	text-decoration:  none;
}

.page {
        font-size: 12px;
       	margin: 7px;
        text-decoration:  underline;
	font-weight: bold;
}

.button	{
        border-color:#cccccc;
        border-style:solid;
        border-width:1px;
	width: auto;
	margin-top: 10px;
	background-color: #e3f2ff;
}

.button:hover {
        border-color:#999999;
        border-style:solid;
        border-width:1px;
        width: auto;
        margin-top: 10px;
	background-color: #e3f2ff;
}

.logindiv	{
	margin: 70 auto;
	width: 200px;
	text-align: center;
	background-color: #e3f2ff;
}

.login	{
	width: 200px;
        border-style:solid;
        border-width:1px;

}

.logintext	{
       	text-align: center;
}

.logoutdiv	{
        margin: 70 auto;
        width: 200px;
       	text-align: center;
}

.input	{
	border-color:#999999;
        border-style:solid;
       	border-width:1px;
	margin: 3px;
}
