html { 
  padding:0px;
  margin:0px;
}

body {
  background-color: #141213;
  font-size: 12px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color: #666666;
  padding:0px;
  margin:0px;
}

p, h2, pre {
    margin: 0px;
    padding: 5px 20px 5px 20px;
}

ul	{
    list-style 	: none;
}

a { 
    color: #A46395;
    font-size: 11px;
    text-transform:uppercase;
    background-color:transparent;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}
 
a.hover { 
    color: #4A2007;
    font-size: 11px;
    text-transform:uppercase;
    background-color:transparent;
    text-decoration: none;
}

table, th, td
{
    margin: 0px;
    padding: 0px;
}

th
{
    text-align: left;
}

td
{
    border: 0px;
    padding: 3px;
    border-top: 1px solid #4A2007;
    margin: 0px;
}

pre { 
    color: #564b47;
    font-size: 11px;
    background-color:transparent;
    font-family: Courier, Monaco, Monospace;
}

h1 {
    font-size: 24px;
    text-transform:uppercase;
    text-align: right;
    margin:0px
}

h2 {
    font-size:12px;
    padding-top:10px;
    text-transform:uppercase;
    color: #564b47;
    background-color: transparent;
}

strong { 
    font-size: 13px;
}

#header {
	margin-top: 30px;
    background-color: #DFDDD3;
    padding:5px 15px;
    color: #6462A1;
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: middle;
    text-transform:uppercase;
    background-image: url(/images/logo.png);
    background-position: 98% center;
    background-repeat: no-repeat;
}

#left {
    background-color: #DFDDD3;
    position: absolute;
    width: 190px;
    color: #564b47;
    margin: 0px;
    min-height: 400px;
}

#vertmenu {
    margin: 10px;
    vertical-align: middle;
    text-align: right;
}

#vertmenu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: none;
}

#vertmenu li {
    height: 18px;
    padding-right: 17px;
    margin-top: 5px;
}

#vertmenu ul li a {
    font-size: 80%;
    display: block;
    border-bottom: 1px dashed #C39C4E;
    padding: 5px 0px 2px 4px;
    text-decoration: none;
    color: #666666;
    width:160px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
    color: #000000;
    background-color: #eeeeee;
    padding: 5px 0px 2px 0px;
}

#main {
    margin: 0px 190px 0px 190px;
    border-left: 1px dotted #564b47;
    border-right: 1px dotted #564b47;
    padding: 10px;
    min-height: 380px;
    background-color: #FFFFFF;
}

#right {
    background-color: #DFDDD3;
    position: absolute;
    right: 0px;
    width: 190px;
    color: #564b47;
    margin: 0px;
    padding: 0px;
    min-height: 400px;
}

#footer {
    background-color: #DFDDD3;
    padding:5px 15px;
    color: #6462A1;
}

#info {
    color: #564b47;
    margin: 10px;
    padding: 0px;
}

img     {
    border: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 5px;
    vertical-align: middle;
}

#modnavi ul
{
	margin 		: 5px;
	padding 	: 0;
	margin-bottom	: 15px;
	list-style-type : none;
	width 		: 100%;
	display 	: block;
	height 		: 30px;
	font-size 	: 12px;
	font-weight 	: bold;
	border-top 	: 1px solid #404040;
	border-bottom 	: 5px solid #404040;
    float           : right;
    color           : #666666;
}

#modnavi li
{
	display 	: block;
	float 		: left;
	margin 		: 0;
	padding 	: 0;
	font-weight	: bold;
    margin          : 10px;
    color           : #666666;
}

#add a
{
        text-decoration: none;
        color: #666666;
}